#fondo{
    background: url("https://media.istockphoto.com/videos/colourful-glowing-light-animation-background-video-id888994838?s=640x640");
    background-size: cover;
}
.titulo{
    background-color: rgba(14, 2, 19, 0.8);
    color:yellow;
}

.chido{
    background-color:  rgba(33, 24, 175, 0.8);
}

.chido2{
    background-color:  rgba(14, 2, 19, 0.8);
}

.centro{
    text-align: center;
    background-position: center;
}

h1{
    text-align: center;
    color: white
}
#fondo{
    background: url("https://media.istockphoto.com/videos/colourful-glowing-light-animation-background-video-id888994838?s=640x640");
    background-size: cover;
}

label{
    color: white;
}